.intro {
  display: flex;
  height: 100vh;
}

.intro-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-right {
  flex: 1;
  position: relative;
  overflow-x: hidden;
}

.intro-left-wrapper {
  padding: 40px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-msg {
  font-size: 30px;
  font-weight: 300;
}

.intro-name {
  font-size: 50px;
}

.intro-title {
  height: 50px;
  overflow: hidden;
}

.intro-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-150px);
  }
}
.intro-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #2f87fa;
  display: flex;
  align-items: center;
}

.intro-desc p {
  font-size: 20px;
}

.intro-shape {
  width: 500px;
  height: 500px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #177afa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.intro-right-bg {
  clip-path: circle(50% at 50% 50%);
  width: 100%;
  height: 100%;
  background-color: #2f87fa;
  position: absolute;
  top: 0;
  right: -300px;
  z-index: -1;
}

@media (max-width: 800px) {
  .intro {
    overflow-x: hidden;
  }
  .intro-right {
    display: none;
  }
  .intro-left {
    text-align: center;
  }
  .intro-title {
    margin: 0 auto;
  }
}
