.project {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.project a {
  display: flex;
  flex-direction: column;
}
.project a p {
  transform: translateY(100px);
  transition: all 1s ease-in-out;
  border: 2px solid #444;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  width: 50%;
  margin: 5px auto;
}
.project:hover a p {
  transform: translateY(-100px);
  background-color: #444;
  color: #fff;
}
.project-browser {
  height: 20px;
  background-color: #444;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.project-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0.2rem;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.project-img {
  width: 100%;
  object-fit: cover;
  transition: all 2s ease-in-out;
}
.project:hover .project-img {
  transform: translateY(-150px);
}

@media (max-width: 800px) {
  .project {
    width: 100%;
  }
}
