.tools {
  background-color: #2f87fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative;
  overflow-x: hidden;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}
.tools h2 {
  z-index: 9;
  text-align: center;
  color: #333;
  position: absolute;
  top: 70px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  cursor: pointer;
  color: #fff;
  z-index: 2;
  font-size: 50px;
}
.arrow-left {
  left: 300px;
}
.arrow-right {
  right: 300px;
}

.slider {
  height: 400px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 0.8s ease-in-out;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 20px;
}

.left {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left-container {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 1rem;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.left-container h3 {
  font-size: 20px;
  margin: 10px 0 0 0;
}
.left-container p {
  font-size: 15px;
  margin: 10px 0 0 0;
}

.right {
  flex: 8;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}

.img-right {
  width: 100%;
  transform: rotate(-15deg);
  object-fit: cover;
}

@media (max-width: 800px) {
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .item {
    flex-direction: column;
  }
  .left {
    flex: 6;
  }
  .right {
    flex: 6;
  }
  .img-right {
    display: none;
  }
  .right {
    display: none;
  }
}
