.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.about-right {
  flex: 1;
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}
.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-title {
  font-weight: 400;
}
.about-sub {
  margin: 20px 0;
}

.about-desc {
  font-weight: 400;
  max-width: 600px;
  font-size: 20px;
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .about-card.bg {
    display: none;
  }
  .about-title {
    margin-top: 20px;
  }
  .about-right {
    text-align: center;
  }
  .about-desc {
    max-width: 300px;
    font-size: 18px;
  }
}
