.footer {
  width: 100%;
  height: 80px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
.footer-center {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.date p {
  font-size: 1.2rem;
}

.social-icons {
  display: flex;
}
.social-icons a {
  margin: 0 0.5rem;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  font-size: 1.5rem;
}
.social-icons a:hover {
  color: hsl(205, 90%, 76%);
}
